.half-width{
    width: 50%;
    padding: 2%;
}
.top-banner-flexible-container{
    display: flex;
    background-image: url(eat-healthy/images/shapes/Frame\ 57.jpg);
    background-position: 100%;
}
.middle-banner-flexible-container{
    display: flex;
    background-image: url(eat-healthy/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: 100%;
    
}
button{
    background-image: Linear-gradient(rgb(23, 172, 199), rgb(4, 113, 156));
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: 400;
    border: none;
    font-size: 20px;

}
#skip{
    color: rgb(0, 168, 247);
}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: justify;
    
}
#about-me{
    color:rgb(0, 168, 247);
    font-size: 60px;
    text-align: center;
}